
// Brand colours
$brandRed: #6E0000;
$brandRed2: #971914;

// Greys from lightest todarkest
$brandGreyLight5: #ECECEC;
$brandGreyLight4: #CCCCCC;
$brandGreyLight3: #97999C;
$brandGreyLight2: #818386;
$brandGreyLight: #6D6F72;
$brandGrey: #5A5B5E;
$brandGreyDark: #464748;
$brandGreyRollover: #e4e4e4;
$footerGrey: #b0b1b2;

// Basic Colours
$textColour: $brandGrey; // default text colour
$backgroundColour: $brandGreyLight3; // default 'box' background
