@font-face {
  font-family: "GothamLight";
  src: url('../fonts/Gotham/Light/Gotham-Light.eot');
  src: url('../fonts/Gotham/Light/Gotham-Light.eot?#iefix') format('eot'), url('../fonts/Gotham/Light/Gotham-Light.woff') format('woff'), url('../fonts/Gotham/Light/Gotham-Light.ttf') format('truetype'), url('../fonts/Gotham/Light/Gotham-Light.svg') format('svg');
  font-weight: Normal;
}

@font-face {
  font-family: "GothamBook";
  src: url('../fonts/Gotham/Book/Gotham-Book.eot');
  src: url('../fonts/Gotham/Book/Gotham-Book.eot?#iefix') format('eot'), url('../fonts/Gotham/Book/Gotham-Book.woff') format('woff'), url('../fonts/Gotham/Book/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham/Book/Gotham-Book.svg') format('svg');
  font-weight: Normal;
}

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
object,
embed {
  max-width: 100%;
}

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/
/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
  font: 13px Helmet, Freesans, sans-serif;
}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */
/* we like off-black for text */
body, select, input, textarea {
  color: #333;
}

a {
  color: #03f;
}

a:hover {
  color: #69f;
}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
/*	j.mp/webkit-tap-highlight-color */
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Print styles!
-------------------------------------------------------------------------------*/
/* Media queries!
-------------------------------------------------------------------------------*/
/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
.fontNormal, .DefaultTypography, .typography > *, body {
  font-family: Arial, sans-serif;
}

.fontGotham {
  font-family: Gotham, Arial, sans-serif;
}

.fontGothamLight {
  font-family: GothamLight, Arial, sans-serif;
}

.fontGothamBook, .Block h3, #TopBar .Menu, #TopBar .Secondary, #Header .Menu, #FooterModules h4, #Footer .Bar {
  font-family: GothamBook, Arial, sans-serif;
}

.DefaultTypography, .typography > *, body {
  font-size: 12px;
  line-height: 1.3;
  color: #5a5b5e;
}
@media screen and (max-width: 637px) {
  .DefaultTypography, .typography > *, body {
    font-size: 15px;
  }
}

.typography b, .typography strong {
  font-weight: bold;
}
.typography i, .typography em {
  font-style: italic;
}
.typography hr {
  height: 0;
  border: 0 none;
  border-top: 1px solid black;
  margin: 0 0 1.5em 0;
}
.typography p {
  margin: 0 0 1.5em 0;
}
.typography blockquote {
  margin: 0 0 0 20px;
}
.typography a {
  text-decoration: none;
}
.typography a:hover {
  text-decoration: underline;
}
.typography ul,
.typography ol {
  margin: 0 0 1em 20px;
}
.typography li {
  padding: 0 0 0.5em 0;
}
.typography ol li {
  list-style-type: decimal;
}
.typography ol ol li {
  list-style-type: lower-alpha;
}
.typography ul li {
  list-style-type: disc;
}
.typography ul ul li {
  list-style-type: circle;
}
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  font-weight: bold;
  line-height: 1.0;
}
.typography h1 *, .typography h2 *, .typography h3 *, .typography h4 *, .typography h5 *, .typography h6 * {
  font-size: 1.0em;
}
.typography h1 b, .typography h1 strong, .typography h2 b, .typography h2 strong, .typography h3 b, .typography h3 strong, .typography h4 b, .typography h4 strong, .typography h5 b, .typography h5 strong, .typography h6 b, .typography h6 strong {
  font-weight: bold;
}
.typography pre {
  white-space: pre;
}
.typography .left {
  text-align: left;
}
.typography .center {
  text-align: center;
}
.typography .right {
  text-align: right;
}
.typography img {
  border: none;
  padding: 0 15px 15px 0;
}
.typography img.right {
  float: right;
  padding: 0 0 15px 15px;
}
.typography img.left {
  float: left;
}
.typography img.leftAlone {
  float: left;
  margin-right: 100%;
}
.typography img.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.typography p.left img {
  padding: 0 15px 15px 0 !important;
  float: left !important;
}
.typography p.right img {
  padding: 0 0 15px 15px !important;
  float: right !important;
}
.typography p.center img {
  padding: 0 !important;
  float: none !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.typography *:first-child {
  padding-top: 0;
  margin-top: 0;
}
.typography *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.cycle-overlay {
  position: absolute;
  z-index: 600;
  background: black;
  opacity: .7;
}
.cycle-overlay * {
  color: #fff;
}

.cycle-prev, .cycle-next {
  position: absolute;
  top: 0;
  width: 30%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 500;
  height: 100%;
  cursor: pointer;
}

.cycle-prev {
  left: 0;
  background: url(../images/arrow-left-slideshow.png) 5% 50% no-repeat;
}

.cycle-next {
  right: 0;
  background: url(../images/arrow-right-slideshow.png) 95% 50% no-repeat;
}

.cycle-prev:hover, .cycle-next:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

.cycle-pager {
  width: 100%;
  z-index: 500;
  position: absolute;
  bottom: 20px;
  right: 15px;
  overflow: hidden;
  text-align: right;
}

.cycle-pager span {
  font-family: arial;
  font-size: 50px;
  width: 13px;
  height: 13px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  color: #6e0000;
  cursor: pointer;
  background: url(../images/ind-pagination-slider.png) -21px 0 no-repeat;
  float: right;
  margin-left: 5px;
}

.cycle-pager .cycle-pager-active {
  background: url(../images/ind-pagination-slider.png) 0 0 no-repeat;
}

.cycle-pager span.cycle-pager-active {
  color: #5a5b5e;
}

.cycle-pager > * {
  cursor: pointer;
}

ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 2em;
  width: 100%;
}

ul.tabs li {
  float: left;
  margin: 0;
  cursor: pointer;
  height: 2em;
  line-height: 2em;
  color: #444;
  position: relative;
  text-align: center;
  width: 33%;
  font-weight: bold;
}

ul.tabs li:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 45%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #ccc;
}

ul.tabs li:hover {
  background-color: #ccc;
  color: #333;
}

ul.tabs li.active {
  background-color: #ccc;
  color: #333;
  display: block;
}

.tab_container {
  clear: both;
  width: 100%;
  border: 1px solid #ccc;
  border-top: 0;
  overflow: auto;
}

.tab_content {
  padding: 20px;
}

.tab_drawer_heading {
  display: none;
}

@media screen and (max-width: 480px) {
  .tabs {
    display: none;
  }

  .tab_drawer_heading {
    color: #444;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .d_active {
    background-color: #ccc;
    color: #fff;
  }
}
.Container {
  width: 1270px;
  margin: 0 auto;
  *zoom: 1;
}
.Container:after {
  content: "";
  display: table;
  clear: both;
}

#BreadCrumbs {
  text-transform: uppercase;
  line-height: 1;
  font-size: 16px;
  margin: 30px 0 7px 0;
  font-weight: bold;
}
#BreadCrumbs a {
  color: #000;
}

article, .row {
  *zoom: 1;
}
article:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
}

.grid {
  width: 310px;
  margin: 10px 10px 0 0;
}

.grid.double {
  width: 630px;
}

.grid.triple {
  width: 950px;
}

.grid.stacked {
  margin-right: 0;
}

.grid.rightspace {
  padding-right: 10px;
  width: 300px;
}

.grid.leftspace {
  padding-left: 10px;
  width: 300px;
}

/* Widgets & Blocks */
.Widget img {
  display: block;
}

.SectionWidget h2 {
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 5px 10px;
  background: #97999c;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
}

.Block * {
  text-transform: uppercase;
  color: white;
}
.Block h3 {
  font-size: 22px;
  line-height: 1.4;
  margin: 20px;
  font-weight: normal;
}
.Block p {
  margin: 20px;
  font-size: 13px;
}
.Block .button {
  text-transform: uppercase;
  margin: 15px 0 0 0 !important;
  text-align: center;
}
.Block .button a {
  padding: 10px 60px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  background: #e4e4e4;
}

/* Global fixed blocks */
#GetInTouch * {
  color: #464748;
}
#GetInTouch h2 {
  background: #97999c;
  padding: 10px 20px;
  font-weight: bold;
  display: block;
  font-size: 12px;
  color: #fff;
}
#GetInTouch h3 {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 15px;
  font-family: Arial, sans-serif;
}
#GetInTouch p {
  margin-top: 0;
  margin-bottom: 0;
}
#GetInTouch .phone {
  font-size: 30px;
  font-weight: bold;
}

.ProductListing {
  text-transform: uppercase;
  text-align: center;
  	/* li ul {
  		display: none;
  		position: absolute;
  		width: 230px;
  	}
  
  	li li {
  		margin: 2px 0;
  	}
  
  	li li a {
  		background: #efefef;
  		display: block;
  	} */
}
.ProductListing ul, .ProductListing li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ProductListing .main {
  margin: 60px 0;
  overflow: auto;
}
.ProductListing li {
  float: left;
  width: 230px;
  margin-right: 20px;
  display: block;
}
.ProductListing h2 {
  margin: 10px 0 5px 0;
}
.ProductListing img {
  display: block;
  margin: 0 auto 20px auto;
}
.ProductListing p {
  margin: 10px 0 0 0;
}
.ProductListing p a {
  color: #5a5b5e;
  text-transform: uppercase;
  font-size: 16px;
}
.ProductListing .button a {
  background: #e4e4e4;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  color: #000;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
}
.ProductListing .range a {
  background: #444;
  color: #fff;
}

/* HomePage */
.HomePage #HeroSlider .cycle-overlay {
  width: 515px;
  padding: 20px 25px;
  bottom: 30px;
  left: 65px;
}
.HomePage #HeroSlider .cycle-overlay .description {
  font-size: 20px;
  line-height: 1.6;
}
.HomePage #HeroSlider .cycle-overlay .buttons {
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 15px;
  font-size: 14px;
}
.HomePage #HeroSlider .cycle-overlay .buttons a {
  display: block;
  float: left;
  padding: 10px 20px;
  color: #fff;
  background: #6e0000;
  margin-right: 15px;
}
.HomePage #HeroSlider .cycle-overlay .buttons .second {
  background: #97999c;
}
.HomePage #SecondarySlider {
  background: #5a5b5e;
}
.HomePage #SecondarySlider .cycle-overlay {
  width: 50%;
  bottom: 0px;
  top: 0px;
  right: 0px;
}
.HomePage #SecondarySlider .cycle-overlay p {
  text-transform: uppercase;
  margin: 20px;
  line-height: 1.6;
  font-size: 12px;
}
.HomePage #SecondarySlider .cycle-overlay .intro {
  font-size: 20px;
}
.HomePage #SecondarySlider .cycle-overlay .description {
  text-transform: none;
  font-size: 14px;
}
.HomePage .ProductListing {
  margin: 10px auto;
  text-align: center;
}
.HomePage .ProductListing img {
  display: block;
  margin: 0 auto 20px auto;
}
.HomePage .ProductListing p a {
  background: #e4e4e4;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  color: #000;
  width: 180px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
}
.HomePage .Widget {
  height: 230px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.HomePage .Widget.Stacked {
  height: 240px;
  margin-bottom: 0;
}
.HomePage .Widget.Double {
  height: 470px;
}
.HomePage #Block1 .Widget, .HomePage #Block1.Widget {
  background: #6d6f72;
}
.HomePage #Block2 .Widget, .HomePage #Block2.Widget {
  background: #97999c;
}
.HomePage #Block3 .Widget, .HomePage #Block3.Widget {
  background: #e4e4e4;
}
.HomePage #Block3 .Widget *, .HomePage #Block3.Widget * {
  color: #6d6f72;
}
.HomePage #Block4 .Widget, .HomePage #Block4.Widget {
  background: #6e0000;
}

/* Expanded Content Page */
.ContentSection {
  margin-bottom: 60px;
}
.ContentSection h1, .ContentSection h2 {
  text-transform: uppercase;
}
.ContentSection h1, .ContentSection h2 {
  font-size: 45px;
  margin: 0 0 35px 0;
}
.ContentSection p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0 0 20px 0;
}
.ContentSection .ImageGrid {
  overflow: hidden;
  height: 100%;
}
.ContentSection .ImageGrid * {
  display: block;
}
.ContentSection .ImageGrid .Image {
  float: left;
  margin-bottom: 10px;
}
.ContentSection .Size3 .last, .ContentSection .Size4 .last {
  margin-left: 10px;
}
.ContentSection .Size4 .first {
  margin-right: 10px;
}
.ContentSection .PersonBlock {
  overflow: hidden;
  padding: 25px;
  width: 260px;
  height: 420px;
  background: #5a5b5e;
}

/* Ask an Expert */
.ContentSection .Phone {
  text-transform: uppercase;
  overflow: hidden;
}
.ContentSection .Phone li {
  float: right;
  width: 50%;
}
.ContentSection .Phone .First {
  float: left;
}
.ContentSection .Phone dt {
  font-size: 14px;
  clear: both;
}
.ContentSection .Phone dd {
  font-size: 36px;
  font-weight: bold;
}
.ContentSection .Button {
  overflow: hidden;
  text-transform: uppercase;
  display: block;
  margin-top: 30px !important;
}
.ContentSection .Button a {
  background: #6e0000;
  display: block;
  float: left;
  color: #fff;
  padding: 10px 50px;
}

.CaseStudy h1, .CaseStudy h2, .CaseStudy h3, .CaseStudy h4, .CaseStudy h5 {
  text-transform: uppercase;
}
.CaseStudy section {
  *zoom: 1;
}
.CaseStudy section:after {
  content: "";
  display: table;
  clear: both;
}
.CaseStudy #Hero {
  position: relative;
}
.CaseStudy #Hero img {
  display: block;
}
.CaseStudy #Hero .Title {
  position: absolute;
  left: 25px;
  bottom: 25px;
}
.CaseStudy #Hero .Title * {
  margin: 0;
  line-height: 1;
}
.CaseStudy #Hero .Title h1, .CaseStudy #Hero .Title h2 span {
  text-transform: uppercase;
  font-size: 40px;
  background: #000;
  color: #fff;
  padding: 5px;
  float: left;
  clear: left;
  margin: 5px 0;
}
.CaseStudy #Hero .Title h1 {
  padding-top: 5px;
}
.CaseStudy #Hero .Title h2 {
  *zoom: 1;
  font-weight: normal;
  position: relative;
}
.CaseStudy #Hero .Title h2:after {
  content: "";
  display: table;
  clear: both;
}
.CaseStudy .ContentSection {
  margin: 60px 0;
}
.CaseStudy .ContentSection h3 {
  font-size: 36px;
  color: #5A5B5E;
  margin: 0 0 30px 0;
}
.CaseStudy .ContentSection .Abstract {
  color: #818285;
  font-size: 18px;
}

.SectionSearch h2 {
  font-size: 22px;
}
.SectionSearch .intro p {
  font-size: 20px;
}

.DealerListing .result {
  *zoom: 1;
  background: #e4e4e4;
  padding: 40px 20px;
}
.DealerListing .result:after {
  content: "";
  display: table;
  clear: both;
}
.DealerListing .result h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
}
.DealerListing .result ul, .DealerListing .result li {
  margin: 0;
  padding: 0;
}
.DealerListing .result li {
  float: left;
  width: 33%;
}
.DealerListing .result p strong {
  text-transform: uppercase;
  width: 80px;
}
.DealerListing .alt {
  background: #fff;
}

.blogSummary, .blogEntry {
  padding: 20px 20px 20px 10px;
  border-top: 1px solid #5a5b5e;
}
.blogSummary h2, .blogEntry h2 {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.1;
  margin: 0 0 15px 0;
}
.blogSummary h2 a, .blogEntry h2 a {
  color: #464748;
}
.blogSummary h2 a:hover, .blogEntry h2 a:hover {
  text-decoration: none;
}
.blogSummary .authorDate, .blogEntry .authorDate {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.blogSummary .blogVitals, .blogEntry .blogVitals {
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: bold;
}
.blogSummary .blogVitals a, .blogEntry .blogVitals a {
  color: #6d6f72;
}

.blogSummary.first {
  border: none;
}

.blogEntry {
  border: none;
}

/* Manual Search */
.results .col {
  background: #ccc;
  margin-top: 0;
}

.results {
  background: #efefef;
  margin: 0 0 20px 0;
}

#SectionSearch {
  background: #666;
  height: 100px;
  margin: 0 0 60px 0;
}

#TopBar {
  *zoom: 1;
  text-transform: uppercase;
}
#TopBar:after {
  content: "";
  display: table;
  clear: both;
}
#TopBar .Menu, #TopBar .Secondary {
  height: 30px;
  font-size: 12px;
}
#TopBar .Menu a, #TopBar .Secondary a {
  font-weight: bold;
  letter-spacing: -1px;
  color: #5a5b5e;
  display: inline;
}
#TopBar .Menu a:hover, #TopBar .Secondary a:hover {
  color: #6e0000;
  text-decoration: none;
}
#TopBar .Menu li, #TopBar .Secondary li {
  float: left;
  display: block;
  height: 21px;
  padding-top: 9px;
  position: relative;
  margin-right: 30px;
}
#TopBar .Menu li ul, #TopBar .Secondary li ul {
  position: absolute;
  background: #fbfbfb;
  border: 1px solid #6e0000;
  z-index: 1000;
  margin: 0;
  padding: 0;
  top: 30px;
}
#TopBar .Menu li ul li, #TopBar .Secondary li ul li {
  float: none;
  height: auto;
  padding: 0;
  width: 217px;
}
#TopBar .Menu li ul a, #TopBar .Secondary li ul a {
  display: block;
  padding: 15px 30px;
  padding-right: 120px;
}
#TopBar .Menu li ul a:hover, #TopBar .Secondary li ul a:hover {
  background: #e4e4e4;
}
#TopBar .Menu {
  float: left;
  margin-left: 291.4px;
}
#TopBar .Secondary {
  float: right;
}
#TopBar .Secondary li a {
  border-right: 1px solid #5a5b5e;
}
#TopBar .Secondary li:last-of-type a {
  padding-right: 0;
  border: 0;
}

.Menu .WithChildren ul {
  display: none;
}

#Header {
  position: relative;
  background: #6e0000;
  margin-bottom: 20px;
  *zoom: 1;
}
#Header:after {
  content: "";
  display: table;
  clear: both;
}
#Header .Container {
  position: relative;
}
@media screen and (min-width: 638px) and (max-width: 959px) {
  #Header .Container {
    width: 630px;
  }
}
@media screen and (max-width: 637px) {
  #Header .Container {
    width: auto;
    margin: 10px;
  }
}
#Header .Container #TouchMenu {
  display: none;
}
#Header .Logo, #Header .Menu {
  float: left;
}
#Header .Logo {
  display: block;
  margin: 20px 0 20px 10px;
  width: 281.4px;
}
#Header .Menu, #Header .Search {
  margin-top: 45px;
}
#Header .Search {
  width: 310px;
  float: right;
  text-align: right;
}
#Header .Menu {
  text-transform: uppercase;
}
#Header .Menu #ProductMenu a:hover, #Header .Menu #ProductMenu .active {
  background: #971914 url(../images/arrow-down-headernav.png) 50% 80% no-repeat;
}
#Header .Menu li {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 1;
}
#Header .Menu li a {
  display: block;
  color: #fff;
  padding: 10px 15px 25px 15px;
  font-size: 15px;
  cursor: default;
}
#Header .Menu li a:hover {
  background: #971914;
  text-decoration: none;
}
#Header .Menu li ul {
  left: 0px;
  right: 0px;
  position: absolute;
  background: #fff;
  border: 1px solid #6e0000;
  border-top: none;
  z-index: 900;
}
#Header .Menu li ul li {
  float: left;
  overflow: hidden;
  height: 215px;
}
#Header .Menu li ul li a {
  width: 160px;
  padding: 40px 20px;
  text-align: center;
}
#Header .Menu li ul li a img, #Header .Menu li ul li a span {
  display: block;
  color: #000;
}
#Header .Menu li ul li a img {
  margin: 0 auto 20px auto;
}
#Header .Menu li ul li a strong {
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
#Header .Menu li ul li a span {
  color: #555;
  font-size: 12px;
}
#Header .Menu li ul li a:hover {
  background: #e4e4e4 !important;
}
#Header .Menu li ul li a:hover strong, #Header .Menu li ul li a:hover span {
  color: #6e0000;
}
@media screen and (max-width: 959px) {
  #Header #TouchMenu {
    display: block;
  }
  #Header .Menu {
    display: none;
  }
}

#FooterModules {
  margin-top: 60px;
  margin-bottom: 60px;
}
#FooterModules h3 {
  text-transform: uppercase;
  color: #6d6f72;
  margin: 5px 0 0 25px;
  line-height: 1.2;
  font-size: 24px;
  width: 60%;
}
#FooterModules h4 {
  margin: 0 0 10px 0;
  font-weight: normal;
  line-height: 1.3;
  width: 70%;
  font-size: 18px;
}
#FooterModules h4 a {
  color: #818386;
}
#FooterModules p a {
  text-transform: uppercase;
  color: #464748;
  font-size: 13px;
}

#Footer {
  margin-top: 20px;
}
#Footer .Bar {
  background: #97999c;
  width: 1220px;
  padding: 30px 25px;
  margin-bottom: 5px;
}
#Footer .Bar dl {
  color: #fff;
}
#Footer .Bar dl dt, #Footer .Bar dl dd {
  float: left;
  display: block;
  margin-top: 5px;
}
#Footer .Bar dl dt {
  text-transform: uppercase;
  width: 100px;
  clear: left;
}
#Footer p {
  color: #b0b1b2;
  text-transform: uppercase;
  margin-left: 25px;
}
#Footer p a {
  color: #b0b1b2;
}

.typography {
  overflow: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.0;
}
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
  font-size: 1.0em;
}
h1 b, h1 strong, h2 b, h2 strong, h3 b, h3 strong, h4 b, h4 strong, h5 b, h5 strong, h6 b, h6 strong {
  font-weight: bold;
}

input, select {
  color: #5a5b5e;
}
input.placeholder, select.placeholder {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: #5a5b5e;
}
input:-moz-placeholder, select:-moz-placeholder {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: #5a5b5e;
}
input::-moz-placeholder, select::-moz-placeholder {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: #5a5b5e;
}
input:-ms-input-placeholder, select:-ms-input-placeholder {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: #5a5b5e;
}
input::-webkit-input-placeholder, select::-webkit-input-placeholder {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: #5a5b5e;
}

input:focus.placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}

input, button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.Form .field {
  overflow: visible;
  clear: both;
  position: relative;
}
.Form .field .middleColumn {
  overflow: hidden;
}
.Form .field .middleColumn input.text.required, .Form .field .middleColumn input.text.holder-required,
.Form .field .middleColumn textarea.required,
.Form .field .middleColumn textarea.holder-required {
  color: white;
}
.Form .field .middleColumn > label {
  display: block;
  float: left;
}
.Form .Actions {
  padding: 30px 0;
}
.Form .Actions #ForgotPassword {
  padding: 30px 0 0 0;
}

.Pagination {
  display: block;
}
.Pagination .PageNumbers {
  overflow: hidden;
  min-height: 30px;
}
.Pagination .PageNumbers li {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 10px 0 0;
}
.Pagination .PageNumbers li a {
  color: white;
  display: block;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #97999c;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}
.Pagination .PageNumbers li.Current a,
.Pagination .PageNumbers li a:hover {
  background: white;
  color: #5a5b5e;
  text-decoration: none;
}
.Pagination .PageNumbers li.Spacer {
  width: 28px;
  height: 28px;
  border: 1px solid #97999c;
  background: white;
}

.Layout {
  width: 1270px;
  margin: 0 auto;
  *zoom: 1;
}
.Layout:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 960px) and (max-width: 1289px) {
  .Layout {
    width: 950px;
  }
}
@media screen and (min-width: 638px) and (max-width: 959px) {
  .Layout {
    width: 630px;
  }
}
@media screen and (max-width: 637px) {
  .Layout {
    width: auto;
    margin: 0 10px;
  }
}
