#Header {
	width: gridSize(4);
	margin: $gridSpacing auto $gridSpacing auto;
	position: relative;
	
	@include pie-clearfix;
	
	@include tablet {
		width: gridSize(3);
	}
	
	@include mini {
		width: gridSize(2);
	}
	@include mobile {
		width: auto;
		margin: $mobileSpacing;
	}

	#TouchMenu {
		display: none;
	}
	
	.Menu {
		
	}
		
	// Activate mobile menu for 2 column view or smaller
	@include smallerThanTablet {

		#TouchMenu {
			display: block;
		}
		.Menu {
			display: none;
		}
	}
}