// Hide subnavigation
.Menu .WithChildren ul { display: none;}

#ProductPushNavigation{
	$topbottom: $gridSpacing * 2;
	$pictureNavWidth: 140px + $topbottom;
	
	.Menu {
		display: none;
		@include caps;
		@include pie_clearfix;

		width: 100%;
		background: #fff;
		border: 1px solid $brandRed;
		border-top: none;

		li {
			float: left;

			a {
				display: block;
				width: $pictureNavWidth;
				padding: ($gridSpacing*4) ($gridSpacing*2);
				text-align: center;

				img, span {
					display: block;
					color: #000;
				}

				img {
					margin: 0 auto $gridSpacing*2 auto; 
				}

				span {
					color: #000;
					font-weight: bold;
					font-size: 12px;
				}
			}

			a:hover {
				text-decoration: none;
				background: $brandGreyRollover !important;
							
				span {
					color: $brandRed;
				}
			}
		}
	}
}

#Header {
	$topbottom: $gridSpacing * 2;
	$pictureNavWidth: 140px + $topbottom;
	
	position: relative;
	background: $brandRed;
	
	@include pie-clearfix;

	.Container {
		position: relative;

		@include mini {
			width: gridSize(2);
		}
		@include mobile {
			width: auto;
			margin: $mobileSpacing;
		}

		#TouchMenu {
			display: none;
		}
	}

	.Logo, .Menu {
		float: left;
	}

	.Logo {
		display: block;
		margin: $topbottom 0;
		width: $gridSize + $gridSpacing;
	}

	.Menu, .Search {
		margin-top: 45px;
	}

	.Search {
		width: $gridSize;
		float: right;
		text-align: right;
	}
	
	.Menu {
		@include caps;
	
		.WithChildren a:hover {
			background: $brandRed2 url(../images/arrow-down-headernav.png) 50% 80% no-repeat;
		}

		li { 
			float: left;
			margin: 0;
			padding: 0;
			line-height: 1;

			a {
				// Height with padding etc: 50px
				display: block;
				color: #fff;
				padding: 10px 15px 25px 15px;
				font-size: 15px;
				cursor: default;
			}

			a:hover {
				background: $brandRed2;
				text-decoration: none;
			}

			ul {
				left: 0px;
				right: 0px;
				position: absolute;
				background: #fff;
				border: 1px solid $brandRed;
				border-top: none;
				z-index: 900;

				li {
					float: left;

					a {
						width: $pictureNavWidth;
						padding: ($gridSpacing*4) ($gridSpacing*2);
						text-align: center;

						img, span {
							display: block;
							color: #000;
						}

						img {
							margin: 0 auto $gridSpacing*2 auto; 
						}

						span {
							color: #000;
							font-weight: bold;
							font-size: 12px;
						}
					}

					a:hover {
						background: $brandGreyRollover !important;
						
						span {
							color: $brandRed;
						}
					}
				}
			}
		}
	}
		
	// Activate mobile menu for 2 column view or smaller
	@include smallerThanTablet {

		#TouchMenu {
			display: block;
		}
		.Menu {
			display: none;
		}
	}
}