.Container {
	width: gridSize(4);
	margin: 0 auto;
	@include pie-clearfix;
}

#BreadCrumbs {
	@include caps;
	font-size: 16px;
	margin: 30px 0 7px 0;
	font-weight: bold;

	a {
		color: #000;
	}
}

article {
	@include pie-clearfix;
}

.col {
	float: left;
}

.grid {
	width: $gridSize;
	margin: $gridSpacing $gridSpacing 0 0;
}

.grid.double 	{ width: gridSize(2); }
.grid.triple 	{ width: gridSize(3); }
.grid.stacked 	{ margin-right: 0; }

.grid.rightspace {
	padding-right: $gridSpacing;
	width: $paddedWidth;
}

.grid.leftspace {
	padding-left: $gridSpacing;
	width: $paddedWidth;
}

/* Widgets & Blocks */
$blockHeight: 230px; 
.Widget img {
	display: block; 
}

.Block {
	$color: #fff;
	$margin: $gridSpacing * 2;

	* {
		@include caps;
		color: $color;
	}

	h3 {
		font-size: 22px;
		line-height: 1.4;
		margin: $margin;
	}

	p { 
		margin: $margin;
	}

	.button {
		@include caps;
		margin: 15px 0 0 0 !important;
		text-align: center;

		a {
			padding: 10px 60px;
			font-weight: bold;
			font-family: Arial, sans-serif;
			background: $brandGreyLight1;
		}
	}
}

/* Global fixed blocks */

#GetInTouch {
	
	* {
		color: $brandGreyDark;
	}

	h2 {
		background: $brandGreyLight3;
		padding: $gridSpacing ($gridSpacing * 2);
		font-weight: bold;
		display: block;
		font-size: 12px;
		color: #fff;
	}

	h3 {
		font-size: 14px;
		margin-bottom: 0;
		margin-top: 15px;
		font-family: Arial, sans-serif;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
	}

	.phone {
		font-size: 30px;
		font-weight: bold;
	}
}

/* HomePage */
.HomePage {
	#HeroSlider {

		.cycle-overlay {
			width: 515px;
			padding: 20px 25px;
			bottom: 30px;
			left: 65px;

    		.description {
    			font-size: 20px;
    			line-height: 1.6;
    		}

    		.buttons {
    			@include caps;
    			overflow: hidden;
    			margin-top: 15px;
    			font-size: 14px;

    			a {
    				display: block;
    				float: left;
    				padding: 10px 20px;
    				color: #fff;
    				background: $brandRed;
    				margin-right: 15px;
    			}

    			.second {
    				background: $brandGreyLight3;
    			}
    		}
		}
	}

	#SecondarySlider {
		.cycle-overlay {
			width: 50%;
			bottom: 0px;
			top: 0px;
			right: 0px;

			p {
				@include caps;
				margin: 20px;
				line-height: 1.6;
				font-size: 12px;
			}

			.intro {
				font-size: 20px;
			}

			.description {
				text-transform: none;
				font-size: 14px;
			}
		}
	}

	.ProductListing {
		$imageWidth: 200px;
		margin: ($gridSpacing * 4) auto;

		text-align: center;

		img {
			display: block;
			margin: 0 auto $gridSpacing * 2 auto;
		}

		p a {
			background: $brandGreyRollover;
			@include caps;
			display: block;
			padding: $gridSpacing;
			color: #000;
			width: $imageWidth - ($gridSpacing * 2);
			margin: 0 auto;
			font-weight: bold;
			font-size: 14px;
		}
	}

	.Widget {
		height: $blockHeight;
		margin-bottom: $gridSpacing;
		position: relative;
		overflow: hidden;
	}

	.Widget.Stacked {
		height: $blockHeight + $gridSpacing;
		margin-bottom: 0;
	}

	.Widget.Double {
		height: rowSpan(2, $blockHeight);
	}

	#Block1 .Widget, #Block1.Widget {
		background: $brandGreyLight;
	}

	#Block2 .Widget, #Block2.Widget {
		background: $brandGreyLight3;
	}

	#Block3 .Widget, #Block3.Widget {
		background: $brandGreyLight1;
		* { color: $brandGreyLight; }
	}

	#Block4 .Widget, #Block4.Widget {
		background: $brandRed;
	}

}

/* Expanded Content Page */
.ContentSection{
	margin-bottom: 60px;

	h1, h2 { @include caps; }
	
	h1, h2 { 
		font-size: 45px;
		margin: 0 0 35px 0;
	}

	p {
		font-family: Arial, sans-serif;
		font-size: 14px;
		margin: 0 0 20px 0;
	}

	.ImageGrid {
		overflow: hidden;
		height: 100%;

		* { display: block; }

		.Image {
			float: left;
			margin-bottom: $gridSpacing;
		}
	}

	.Size3, .Size4 {
		.last {
			margin-left: $gridSpacing;
		}
	}

	.Size4 {
		.first {
			margin-right: $gridSpacing;
		}
	}

	.PersonBlock {
		$padding: 25px;
		overflow: hidden;
		padding: $padding;
		width: $gridSize - ($padding * 2);
		height: ($blockHeight * 2) - ($padding * 2) + $gridSpacing;
		background: $brandGrey;
	}
}

/* Ask an Expert */
.ContentSection {
	.Phone {
		@include caps;
		overflow: hidden;

		li { 
			float: right;
			width: 50%;
		}

		.First {
			float: left;
		}

		dt {
			font-size: 14px;
			clear: both;
		}
		dd {
			font-size: 36px;
			font-weight: bold;
		}
	}

	.Button {
		overflow: hidden;
		@include caps;
		display: block;
		margin-top: ($gridSpacing * 3) !important;
		

		a {	
			background: $brandRed;
			display: block;
			float: left;
			color: #fff;
			padding: $gridSpacing ($gridSpacing * 5);
		}
	}
}

.CaseStudy {
	h1, h2, h3, h4, h5 { @include caps; }
	
	section {
		@include pie-clearfix;
	}

	#Hero {
		position: relative;

		img { display: block; }

		.Title {
			position: absolute;
			left: 25px;
			bottom: 25px;

			* {
				margin: 0;
				line-height: 1;
			}

			h1, h2 span {
				@include caps;
				font-size: 40px;
				background: #000;
				color: #fff;
				padding: 5px;
				float: left;
				clear: left;
				margin: 5px 0;
			}

			h1 { padding-top: 5px; }
			
			h2 {
				@include pie-clearfix;
				font-weight: normal;
				position: relative;
			}
		}
	}

	.ContentSection {
		margin: ($gridSpacing * 6) 0;

		h3 {
			font-size: 36px;
			color: #5A5B5E;
			margin: 0 0 30px 0;
		}

		.Abstract {
			color: #818285;
			font-size: 18px;
		}
	}
}

.DealerListing {

	h2 {
		font-size: 22px;
	}

	.result {
		@include pie-clearfix;
		background: $brandGreyLight1;
		padding: 40px 20px;

		h3 {
			font-size: 18px;
			margin: 0 0 20px 0;
		}

		ul, li {
			margin: 0;
			padding: 0;
		}

		li {
			float: left;
			width: 33%;
		}

		p strong {
			@include caps;
			width: 80px;
		}
	}

	.alt {
		background: #fff;
	}
}

.blogSummary, .blogEntry {

	padding: 20px 20px 20px 10px;
	border-top: 1px solid $brandGrey;

	h2 {
		@include caps;
		font-size: 32px;
		line-height: 1.1;
		margin: 0 0 15px 0;

		a {
			color: #464748;
		}

		a:hover {
			text-decoration: none;
		}
	}

	.authorDate {
		@include caps;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.blogVitals {
		@include caps;
		margin-top: 20px;
		font-weight: bold;

		a {
			color: $brandGreyLight;
		}
	}
}

.blogSummary.first {
	border: none;
}

.blogEntry {
	border: none;
}