body {
	.Container {
		width: gridSize(4);
		margin: 0 auto;
		@include pie-clearfix;
	}

	.col {
		float: left;
	}

	.grid {
		width: $gridSize;
	}

	.grid-margined {
		width: $gridSize + $gridSpacing;
	}
}